* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: #fff;
    color: #333;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 20%;
    background: #56D3D5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    margin-bottom: 20px;
  }
  
  .sidebar-button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background: #b2ebf2;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
.sidebar-button:hover{
    background: #22696b;
}

  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  th {
    background: #56D3D5;
  }
  
  .status {
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
  }
  
  .status.concluido {
    background: #4caf50;
  }
  
  .status.pendente {
    background: #f44336;
  }
  
  .status.andamento {
    background: #ff9800;
  }
  
  .action-button img {
    width: 20px;
    height: 20px;
  }
  
  .register-button {
    padding: 10px 20px;
    background: #56D3D5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .register-button:hover{
    background: #22696b;
  }
  